@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');

body, html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Averia Serif Libre', serif;
        z-index: 1;
    }

    a {
        text-decoration: none;
    }

    /* navigation styling begins here */
    nav {
        position: fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        display: inline-block;
        background-color: #efe6e0;
    }

    nav ul {
        margin: 10px;
        list-style-type: none;
        float: right;
    }

    nav ul li {
        display: inline-block;
        box-sizing: border-box;
    }

    nav ul li a {
        display: inline-block;
        box-sizing: border-box;
        padding: 10px 16px;
        text-align: center;
        font-size: 18px;
        width: 140px;
        color: #7b5946;
    }

    nav ul li a:hover {
        background-color: #dab9b2;
        color: #fff8f4;
        border-radius: 10px;
    }

    /* dropdown navigation associated with About */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* dropdown nav links hidden by default */
    .dropdown-links {
        display: none;
        position: absolute;
        background-color: #7b5946;
        color: #efe6e0;
        min-width: 120px;
        z-index: 1;
    }

    .dropdown-links a {
        padding: 10px 16px;
        margin: 10px;
        color: #7b5946;
        display: block;
    }

    /* dropdown nav links become visible when hovering over About */
    .dropdown:hover .dropdown-links {
        display: block;
        color: #7b5946;
        background-color: #efe6e0;
    }
    /* navigation styling ends here */

    .content {
        padding-top: 80px; /* Adjust the value to create space for the header */
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    p {
        font-size: 18px;
    }

    .cta-button {
        display: inline-block;
        background-color: #FF6633;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
    }

    .cta-button:hover {
        background-color: #FF3300;
    }

    /* home page styling begins here */
#home-backdrop {
        display: block;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 800px;
        background-image: url('TODO');
        z-index: 0;
        background-position: center 30%;
    }
    .banner-text {
        display: block;
        margin: 0 auto;
        padding: 40px;
        margin-top: 200px;
        position: relative;
        align-items: center;
        text-align: center;
        background-color: #a87363;
        box-sizing: border-box;
        border: 4px solid #efe6e0;
        border-radius: 14px;
        width: 100%;
        max-width: 340px;
    }
    .banner-text h1 {
        line-height: 1.4em;
        color: #efe6e0;
        font-size: 26px;
    }
    
    .preview {
        display: block;
        position: relative;
        box-sizing: border-box;
        border-radius: 14px;
        background-color: #f1ded2;
        color: #7b5946;
        width: 90%;
        height: max-content;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: 100px;
        padding: 10px 30px 30px 30px;
    }
    .preview-row {
        margin: 50px 0px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-left: 5%;
        padding-right: 5%;
    }
    .preview-text {
        width: 100%;
        max-width: 500px;
        padding-top: 35px;
        box-sizing: border-box;
    }
    .preview-text h3 {
        font-size: 28px;
    }
    .preview-text p {
        font-size: 20px;
        line-height: 1.7em;
    }
    .img-placeholder {
        background-color: bisque;
        object-fit: cover;
        box-sizing: border-box;
        width: 300px;
        height: 300px;
        margin: 10px;
    }

    img {
        object-fit: cover;
    }
    
    .byte-text {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 40px 20px;
        text-align: center;
        width: 80%;
        background-color: #dab9b2;
        box-sizing: border-box;
        border-radius: 14px;
    }
    .byte-text p {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 800px;
        color: #7b5946;
        margin: 0 auto;
        margin-bottom: 30px;
        line-height: 1.6em;
        font-size: 18px;
    }
    .byte-button {
        display: inline-block;
        box-sizing: border-box;
        background-color: #A87363;
        color: #efe6e0;
        font-size: 22px;
        font-weight: 800;
        padding: 20px;
        border-radius: 10px;
    }
    .byte-button:hover {
        background-color: #caa296;
        color: #7b5946;
    }
    /* home page styling ends here */
    
    /* RESPONSIVE DESIGN - home page */
    @media screen and (max-width: 1240px) {
        .preview {
            width: 94%;
        }
    }
    @media screen and (max-width: 1180px) {
        .preview-row {
            padding-left: 0%;
            padding-right: 0%;
        }
        .preview-text {
            margin-left: 3%;
        }
    }
    /* mobile */
    @media screen and (max-width: 768px) {
        .preview-row {
            flex-wrap: wrap;
        }
        .preview-text {
            width: 90%;
            text-align: center;
            margin: 0px;
        }
        .preview-text h3 {
            font-size: 24px;
        }
        .preview-text p {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 480px) {
        .preview-text {
            width: 98%;
        }
    }

    /* Footer styling */
    footer {
        background-color: #d9beac;
        color: #6b4233; 
        bottom: 0;
        z-index: 2;
        width: 100%;
    }

    .footer-content {
        display: flex;
        margin: 10px;
    }

    .info {
        margin-right: auto; 
        margin-left: 0;
        margin-bottom: 10px;
    }

    .hours {
        margin-left: auto; 
        margin-right: 0;
    }
